body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.nav-links a:hover {
    text-decoration: underline;
    color: #ffcc00; /* Change link color on hover */
}

/* Order Item */
.order-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Table ID */
.table-id {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Items List */
.items-list {
    list-style-type: none;
    padding: 0;
}

/* Item in Items List */
.items-list li {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Total Price */
.total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
